html {
    /*background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/images/butterfly.jpg');
}*/
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #fff9e7;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/images/butterfly.jpg');
}
#root {
    background-color: rgba(0, 0, 0, 0.8);
}
/*
backgroundPosition: 'center',
backgroundImage: `url('/images/butterfly.jpg')`,
backgroundSize: 'cover',
backgroundRepeat: 'no-repeat'*/
